
article {
    margin-left: 200px;
    padding: 2em;
    font-family: calibri;
    overflow-y: auto;
    max-height:610px;
}
section {
	font-family: helvetica;
	font-size: 50px;
	text-indent: 18px;
}

#background {
	/*background-image: url("images/pic1.jpeg");
	background-repeat: no-repeat;
	background: radial-gradient(ellipse at center, rgb(255,255,255), rgb(255,255,255), rgb(220,220,220), rgb(200,200,200));*/
	background: rgb(245,245,245);

}

.button {
	width: 280px;
	height: 40px;

	display: inline-block;
	font-family: candara;
	font-weight: bold;
	font-size: 20px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;

	color: white;
	border: none;
	border-radius: 6px;
	background: linear-gradient(to top, rgb(0,100,0), rgb(0,200,0));
}

.button:hover {
	background: linear-gradient(to top, rgb(0,85,0), rgb(0,185,0));
    border-color: rgb(158,202,237);
    box-shadow: 0 0 30px rgb(158,202,237);
}

.button:active {
	transform: translateY(3px);
}

#button2 {
	width: 90px;
	height: 30px;
	font-size: 15px;
}

#button3 {
	width: 170px;
	height: 30px;/*
	background: linear-gradient(to top, rgb(220,220,220), rgb(255,255,255));
	color:black;*/
	border: none;
	font-size: 15px;
	font-family: calibri;
}
/*
.circle-button {
	width: 20px;
	height: 20px;
	border-radius: 20px;

	font-size: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
*/
.foo {
	padding-left: 10px;
}

#fs {
	background: linear-gradient(to top, rgb(220,220,220), rgb(255,255,255));
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	
	box-shadow: 0 0 10px rgb(170,170,170);
	border: 3px solid rgb(200,200,200);
	border-radius: 8px;
	border-width: thin;
	width: 25%; 

	font-family: calibri;
	font-size: 15px;
}

h2 {
	font-family: arial narrow;
	font-size: 30px;
	text-align: center;

	box-shadow: 0 8px rgb(60,60,60);
	background-color: black;
	color: yellow;

	font-family: candara;
	font-size: 25px;
	border-radius: 10px;
}

#legend {
	box-shadow: 0 8px rgb(60,60,60);
	background-color: black;
	color: yellow;

	font-family: candara;
	font-size: 25px;
	border-radius: 10px;
}

#logo {
	margin-top: 20px;
	height: 100px;
	width: 100px; 
}

#mytext2 {
	height: 30px;
}

.mytext {
	background-color: white;
	font-family: candara;
	font-size: 15px;
	
	border: 2px solid rgb(200,200,200);
    /*box-shadow: 0 0 10px rgb(170,170,170);*/
	border-radius: 4px;
	border-width: 1px;
	width: 270px;
	height: 35px;
}

.mytext:focus {
	outline: none;
    border-color: rgb(158,202,237);
    box-shadow: 0 0 10px rgb(158,202,237);
}

.text {
	line-height: 2;
	text-indent: 18px;
	text-align: left;
}

nav {
	background: linear-gradient(to top, rgb(245,245,245), rgb(200,200,200));
    float: left;
    max-width: 170px;
    margin: 0;
    padding: 1em;
}

#table {
	width: 100%;
	height: 100px;
	text-indent: 15px;
	border-collapse: collapse;
	border: none;
	font-family: calibri;
	font-size: 15px;
}

#tr-td {
	border-bottom: 3px solid rgb(221,221,221);
	text-align: center;
}

th {
	background-color: rgb(235,235,235);
	text-align: center;
}


tr:hover {
	background-color: rgb(230,230,230);
}

/*
table {
    background-color: #aaa;
}
tbody {
    background-color: #ddd;
    height: 100px;
    overflow: auto;
}
td {
    padding: 3px 10px;
}
thead, tbody {
    display: block;
}*/
