/*
#body-color {
	background-color: rgb(0,0,110);
	color: yellow;
}
*/
#background {
	background-image: url("images/program.jpg");
	background-repeat: no-repeat;
}

.button {
	width: 320px;
	height: 50px;

	display: inline-block;
	font-family: candara;
	font-size: 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;

	color: yellow;
	border: none;
	border-radius: 10px;
	background-color: rgb(0,160,0);
	box-shadow: 0 9px rgb(60,60,60);
}

.button:hover {
	background-color: rgb(0,110,0);
	font-weight: bold;
}

.button:active {
	box-shadow: 0, 5px, rgb(30,30,30);
	transform: translateY(4px);
}

#fs {
	border-color: yellow;
	background-color: white;
	margin-top: 90px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 9px;
	height: 400px;
	width: 30%; 

	font-family: calibri light;
	font-weight: bold;
	font-size: 16px;
}
/*
.header-site {
	background: url("images/leyeco_logo.png");
	background-repeat: no-repeat;
}*/

#header {
	background-color: black;
	font-family: calibri light;
	font-weight: bold;
	font-size: 40px;

	line-height: 100px;
	height: 100px;
	color: white;
}

#legend {
	box-shadow: 0 8px rgb(60,60,60);
	background-color: black;
	color: yellow;

	font-family: candara;
	font-size: 30px;
	border-radius: 10px;
}

#logo-dimension {
	width: 400px;
	height: 400px;
	margin-left: 150px; 
	margin-top: 80px;
}

.mytext {
	background-color: rgb(245,245,245);
	font-family: calibri light;
	font-size: 18px;
	
	border-radius: 6px;
	border-width: 2px;
	outline: none;
	width: 350px;
	height: 35px;
}

.mytext:focus {
	border-color: blue;
}
